.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-odd {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
  background-color: #EEEEEE;
}
.row-even {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #EEEEEE;
}
@media screen and (max-width: 768px) {
    h1{
        font-size:14px;
        font-weight:bolder;
    }
    h4{
      font-size:65%;
    }
}
.teaserColInner{
  background-color: #EEEEEE;
}

.teaserColHead{
  height:65px;
  /*background-color: yellow;*/
  text-overflow: clip;
    padding-left:5px;
  padding-right: 5px;
}
.teaserContent{
  padding-left:5px;
  padding-right: 5px;
}